
<h2>This Edit Form Should Render Single College to Edit </h2>
<h2>Mangoes</h2>
<h3> This code is in app/views/college/edit.erb</h3>

<h1>Edit a College</h1>

<form action="/colleges/<%=@college.id%>" method="POST">
<!-- <form action="/colleges/:id" method="POST"> -->



  <input id='hidden' type='hidden' name='_method' value='PATCH'>

    <label for='region'>Region</label>
    <input type='text' id='region' name='region' value='<%=@college.region%>'>

    <label for='name'>Name</label>
    <input type='text' id='name' name='name' value='<%=@college.name%>'>

    <input type='submit' value='submit'>
    <input type="submit" value="Edit a College">


  <p><input type='hidden' type='hidden' name='_method' value='DELETE'/></p>
    <input type="submit" value="Delete a College">


  <input  type="checkbox"  id="<%= @college.name%>" name="colleges[]" value="<%= @college.id %>">

</form>
