
<h1>Update My College</h1>
<h2>Mangoes</h2>


<form action="/college/<%=@college.id%>" method="POST">
<input id="hidden" type="hidden" name="_method" value="patch">
<!-- <label>Name:</label> -->


<p> College Name: <input type='text' id='name' name='name'></p>
<input type='submit' id='submit' value='submit'>


</form>


<!-- <input type="text" name="student[name]" id="student_name" value="<%=@student.name%>">
<label>Choose an existing college:</label>


edit.erb
This on Sunday 1:13pm
<%@college.each do |college|%>
<input type="text" name="student[college_ids][]" id="<%=college.id%>" value="<%=college.id%>"<%=college.name%></input>

 -->
