<!-- Devise way of displaying just the User's colleges
Use Helper methods -->
<h2> List of Colleges</h2>

<form method='post' action='/colleges'
<input id='hidden' type= 'hidden' name= '_method' value="PATCH">
<input type='text' name= 'college' value='<%=@college%>'>
<input type='submit' value='submit'>

</form>
*******
<ul>
<% @recipes.each do |recipe|%>
  <li>
    <a href="/recipes/<%= recipe.id %>">Name: <%= recipe.name %></a>
    Ingredients: <%= recipe.ingredients %>
    Cook time <%= recipe.cook_time %>
  </li>
<% end %>
</ul>


******
