<!-- Devise way of displaying just the User's colleges
Use Helper methods -->
<h2> Specific Colleges-app/views/colleges/index.erb</h2>

 <% @colleges.each do |college| %>
    <!-- <li><a href="/colleges/<%= college.slug %>"> Name: <%= college.name %></a></li> -->
    <li><a href="/colleges/<%= college.slug %>"> <%= college.name %></a></li>
    <!-- Name: <%= college.name %>
    Region: <%= college.region %> -->
 <% end %>
<!-- <form  action='/colleges' method='post'>
<input id='hidden' type= 'hidden' name= '_method' value='PATCH'>
<input type='text' name= 'college' value='<%=@college%>'>
<input type='submit' value='submit'> -->
