<!-- Devise way of displaying just the User's colleges
Use Helper methods -->
<h2> List of Colleges</h2>

# <% @colleges.each do |college|%>

    <a href="/colleges/<%= college.id %>">Name: <%= college.name %></a>
    Name: <%= college.name %>
    Region: <%= college.region %>

# <% end %>

<form method='post' action='/colleges'
<input id='hidden' type= 'hidden' name= '_method' value='PATCH'>
<input type='text' name= 'college' value='<%=@college%>'>
<input type='submit' value='submit'>

</form>
