<h1>My List of Colleges</h1>

  <ul>
  <% @colleges.each do |college| %>
     <li><a href="/college/<%= college.id %>"><%= college.name %></a></li>


    <% if college.name%>
    <p>College Name: <%= college.name %><p>
    <p>Region: <%= college.region %><p>
    <p>Student Name: <%=current_student.username%><p>
    <% end %>

  <% end %>
