<!-- <form method='POST' action="/college/<%=@college.id%>"> -->

<!-- Or Try This:   <form method='POST' action='/college'> -->
<form action="/colleges/<%=@college.id%>" method="POST">

  <td><%= @landmark.name %></td>
  <td><%= @landmark.year_completed %></td>

  <% College.all.each do |college| %>

  <input id="<%= college.name %>" type="checkbox" name="colleges[]" value="<%= college.id %>">
    <p><input type='hidden' name='_method' value='DELETE'/></p>
    <p><input type='hidden' name='_method' value='EDIT'/></p>
    <p><input type='submit' value='submit'/></p>
    <input type="submit" value="Edit College">
  <a href="/colleges/<%=@college.id%>/edit">Edit College</a>

</form>
<%end%>

**********

  <a class="button" href="/landmarks/<%= @landmark.id %>/edit">Edit</a>
  <a class="button" href="/landmarks">Landmarks</a>
  <a class="button" href="/">Go Home</a>

**********
My Sinatra Lab- views/edit.erb
<h1>Edit a new Landmark:</h1>



</form>
