
  <%= college.content %>
  </div>

# <%end%>


Name: <%= @college.name %>
Region: <%= @college.region %>

<form method='POST' action='/colleges/<%=@college.id%>'>
  <input type='hidden' name='_method' value='DELETE'/>
  <input type='submit' value='delete'/>
</form>
<a href="/colleges/<%=@college.id%>/edit">Edit College</a>
